
<div class="headerCe">Czy na pewno chcesz usunąć wskazaną pozycję?</div>

<form method="post" asp-action="Delete" asp-controller="Roles">
    <div class="bottom-bar-options">
        <a asp-action="Index" asp-controller="Roles" class="form-button-a">Nie</a>
        <input type="submit" value="Tak" class="form-button" />
    </div>
</form>
