

<div class="pr">
    <div class="">
        <div id="leftNavigation" class="leftNavigation">
            <div class="ulContainer">
                <ul class="leftNavigationUl">
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Home" class="leftNavigationA">
                            Dashboard                                
                        </a>                                         
                    </li>                                            
                    <li class="leftNavigationLi">                    
                        <a asp-action="Index" asp-controller="Users" class="leftNavigationA">
                            Konta użytkowników                       
                        </a>                                         
                    </li>                                            
                    <li class="leftNavigationLi">                    
                        <a asp-action="Index" asp-controller="Roles" class="leftNavigationA">
                            Role
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
 

