@model ChangeEmailViewModel


<div class="rightColumnUser">

    <div class="headerCe">Zmiana adresu email</div>


    <form method="post" asp-action="ChangeEmail" asp-controller="Account"> 
        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Dotychczasowy email</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="ObecnyEmail" disabled />
                </div>
            </div>
        </div>

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Nowy email</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="NewEmail" />
                    <span asp-validation-for="NewEmail" class="c-red"></span>
                    <span class="c-red">@Model.Result</span>
                </div>
            </div>
        </div>


        <div class="bottom-bar-options">
            <a asp-action="Index" asp-controller="Home" class="form-button-a">Anuluj</a>
            <input type="submit" value="Zapisz" class="form-button" />
        </div>

    </form>
</div>
