@model ChangePasswordViewModel



<div class="rightColumnUser">
    @{
        string password = "SDG%$@5423sdgagSDert";
    }
    <h5>@password</h5>

    <div class="headerCe">Zmiana hasła</div>

    <form method="post" asp-action="ChangePassword" asp-controller="Account">

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Dotychczasowe hasło</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="OldPassword" />
                    <span asp-validation-for="OldPassword" class="c-red"></span>
                </div>
            </div>
        </div>

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Nowe hasło</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="c-red"></span>
                </div>
            </div>
        </div>

        <span class="c-red">@Model.Result</span>



        <div class="bottom-bar-options">
            <a asp-action="Index" asp-controller="Account" class="form-button-a">Anuluj</a>
            <input type="submit" value="Zapisz" class="form-button" />
        </div>

    </form>
</div>


