
<div class="rightColumnUser">
    <div class="headerCe">Czy na pewno chcesz usunąć wskazaną pozycję?</div>

    <form method="post" asp-action="Delete" asp-controller="Account">
        <div class="bottom-bar-options">
            <a asp-action="Index" asp-controller="Account" class="form-button-a">Nie</a>
            <input type="submit" value="Tak" class="editButton" />
        </div>
    </form>
</div>

